body{
    color: 435f67;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    margin: 0;
}

#hero{
    background-image: url(./images/outerspace.jpg);
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family:inherit;
    color: 435f67;
    font-weight: bold;
    cursor: pointer;
}

.underline{
   border-bottom: 3px solid white;
}